mixin callback-form-content
	.callback-form-wrapper
		h4.form-title Забронировать стол
		.form-separate
		form.callback-form#validate-callback
			.callback-form-item
				label.callback-form-label(for="callback-name") Имя
				input#callback-name.callback-form-input(name="name" required type="text")
			.callback-form-item
				label.callback-form-label(for="callback-phone") Телефон
				input#callback-phone.user-phone.callback-form-input(name="phone" minlength="18" required type="text")
			.callback-form-item.callback-form-item_submit
				button.btn.form-submit
					|	Оставить заявку
					| <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="7.97" height="7.969" viewBox="0 0 7.97 7.969">
					|                                                                    <defs>
					|                                                                        <style>
					|                                                                          .callback-arrow-right {
					|                                                                            fill: #fdd8a3;
					|                                                                            fill-rule: evenodd;
					|                                                                          }
					|                                                                        </style>
					|                                                                      </defs>
					|                                                                      <path class="callback-arrow-right" d="M1251.03,87a1.007,1.007,0,0,1-.88-0.483,0.9,0.9,0,0,1,.39-1.269l4.38-2.24-4.38-2.24a0.9,0.9,0,0,1-.39-1.268,1.039,1.039,0,0,1,1.36-.367l5.98,3.058a0.9,0.9,0,0,1,0,1.636l-5.98,3.058A1.044,1.044,0,0,1,1251.03,87Z" transform="translate(-1250.03 -79.031)"></path>
					|                                                                    </svg>
			.callback-form-item.callback-form-item_text
				p.callback-text
					| Заполняя данную форму, Вы соглашаетесь с <a href="#" class="privacy-policy">Политикой обработки персональных данных</a>

mixin callback (class_modification)
	if class_modification === undefined
		.callback.mfp-hide
			+callback-form-content
	else
		div(class='callback mfp-hide ' + class_modification)
			+callback-form-content
