include mixins/svg

mixin page-slider
	.content-slider
		.page-slider
			.page-slider__item
				img(src="images/page-slide-item.jpg" alt="Новогодние корпоративы")
			.page-slider__item
				img(src="images/page-slide-item.jpg" alt="Новогодние корпоративы")
			.page-slider__item
				img(src="images/page-slide-item.jpg" alt="Новогодние корпоративы")
			.page-slider__item
				img(src="images/page-slide-item.jpg" alt="Новогодние корпоративы")
		.page-slider-navigation
			.page-slider__enumerator
				span.page-slider__current
				| /
				span.page-slider__total
