mixin content-slider
	.menu-slider-item
		article.menu-content__item
			picture.menu-img
				source(srcset="images/dish-img1.webp" type="image/webp")
				img(src="images/dish-img1.png" alt="Пирог с творогом и брусникой")
			.dish-wrapper
				header.menu-header
					h3.menu-content-title Пирог с творогом и брусникой
					.dish-price 140 руб.
				.dish-weight 125 г.
				.dish-description
					| В этом пироге удачно сочетается терпкость брусники
					| и деревенский творог, которые прекрасно дополняют
					| друг друга.
		article.menu-content__item
			picture.menu-img
				source(srcset="images/dish-img2.webp" type="image/webp")
				img(src="images/dish-img2.png" alt="Медовик")
			.dish-wrapper
				header.menu-header
					h3.menu-content-title Медовик
					.dish-price 140 руб.
				.dish-weight 125 г.
				.dish-description
					| Рецепт медовика появился около 200 лет назад,
					| когда повар императора Александра I приготовил
					| для его жены восхитительный десерт.
		article.menu-content__item
			picture.menu-img
				source(srcset="images/dish-img3.webp" type="image/webp")
				img(src="images/dish-img3.png" alt="Пирожок печеный")
			.dish-wrapper
				header.menu-header
					h3.menu-content-title Пирожок печеный
						span (с мясом/ картошкой/ капустой)
					.dish-price 140 руб.
				.dish-weight 125 г.
				.dish-description
					| Пирожки из духовки очень понравятся детям и взрослым.
					| В этом рецепте я постаралась показать, как делается
					| фигурный защип пирожков "косичка" или "колосок".
		//article.menu-content__item
		//	picture.menu-img
		//		source(srcset="images/dish-img2.webp" type="image/webp")
		//		img(src="images/dish-img2.png" alt="Медовик")
		//	.dish-wrapper
		//		header.menu-header
		//			h3.menu-content-title Медовик
		//			.dish-price 140 руб.
		//		.dish-weight 125 г.
		//		.dish-description
		//			| Рецепт медовика появился около 200 лет назад,
		//			| когда повар императора Александра I приготовил
		//			| для его жены восхитительный десерт.
	//.menu-slider-item
	//	article.menu-content__item
	//		picture.menu-img
	//			source(srcset="images/dish-img1.webp" type="image/webp")
	//			img(src="images/dish-img1.png" alt="Пирог с творогом и брусникой")
	//		.dish-wrapper
	//			header.menu-header
	//				h3.menu-content-title Пирог с творогом и брусникой
	//				.dish-price 140 руб.
	//			.dish-weight 125 г.
	//			.dish-description
	//				| В этом пироге удачно сочетается терпкость брусники
	//				| и деревенский творог, которые прекрасно дополняют
	//				| друг друга.
	//	article.menu-content__item
	//		picture.menu-img
	//			source(srcset="images/dish-img2.webp" type="image/webp")
	//			img(src="images/dish-img2.png" alt="Медовик")
	//		.dish-wrapper
	//			header.menu-header
	//				h3.menu-content-title Медовик
	//				.dish-price 140 руб.
	//			.dish-weight 125 г.
	//			.dish-description
	//				| Рецепт медовика появился около 200 лет назад,
	//				| когда повар императора Александра I приготовил
	//				| для его жены восхитительный десерт.
	//	article.menu-content__item
	//		picture.menu-img
	//			source(srcset="images/dish-img3.webp" type="image/webp")
	//			img(src="images/dish-img3.png" alt="Пирожок печеный")
	//		.dish-wrapper
	//			header.menu-header
	//				h3.menu-content-title Пирожок печеный
	//					span (с мясом/ картошкой/ капустой)
	//				.dish-price 140 руб.
	//			.dish-weight 125 г.
	//			.dish-description
	//				| Пирожки из духовки очень понравятся детям и взрослым.
	//				| В этом рецепте я постаралась показать, как делается
	//				| фигурный защип пирожков "косичка" или "колосок".
	//	article.menu-content__item
	//		picture.menu-img
	//			source(srcset="images/dish-img2.webp" type="image/webp")
	//			img(src="images/dish-img2.png" alt="Медовик")
	//		.dish-wrapper
	//			header.menu-header
	//				h3.menu-content-title Медовик
	//				.dish-price 140 руб.
	//			.dish-weight 125 г.
	//			.dish-description
	//				| Рецепт медовика появился около 200 лет назад,
	//				| когда повар императора Александра I приготовил
	//				| для его жены восхитительный десерт.
	//.menu-slider-item
	//	article.menu-content__item
	//		picture.menu-img
	//			source(srcset="images/dish-img1.webp" type="image/webp")
	//			img(src="images/dish-img1.png" alt="Пирог с творогом и брусникой")
	//		.dish-wrapper
	//			header.menu-header
	//				h3.menu-content-title Пирог с творогом и брусникой
	//				.dish-price 140 руб.
	//			.dish-weight 125 г.
	//			.dish-description
	//				| В этом пироге удачно сочетается терпкость брусники
	//				| и деревенский творог, которые прекрасно дополняют
	//				| друг друга.
	//	article.menu-content__item
	//		picture.menu-img
	//			source(srcset="images/dish-img2.webp" type="image/webp")
	//			img(src="images/dish-img2.png" alt="Медовик")
	//		.dish-wrapper
	//			header.menu-header
	//				h3.menu-content-title Медовик
	//				.dish-price 140 руб.
	//			.dish-weight 125 г.
	//			.dish-description
	//				| Рецепт медовика появился около 200 лет назад,
	//				| когда повар императора Александра I приготовил
	//				| для его жены восхитительный десерт.
	//	article.menu-content__item
	//		picture.menu-img
	//			source(srcset="images/dish-img3.webp" type="image/webp")
	//			img(src="images/dish-img3.png" alt="Пирожок печеный")
	//		.dish-wrapper
	//			header.menu-header
	//				h3.menu-content-title Пирожок печеный
	//					span (с мясом/ картошкой/ капустой)
	//				.dish-price 140 руб.
	//			.dish-weight 125 г.
	//			.dish-description
	//				| Пирожки из духовки очень понравятся детям и взрослым.
	//				| В этом рецепте я постаралась показать, как делается
	//				| фигурный защип пирожков "косичка" или "колосок".
	//	article.menu-content__item
	//		picture.menu-img
	//			source(srcset="images/dish-img2.webp" type="image/webp")
	//			img(src="images/dish-img2.png" alt="Медовик")
	//		.dish-wrapper
	//			header.menu-header
	//				h3.menu-content-title Медовик
	//				.dish-price 140 руб.
	//			.dish-weight 125 г.
	//			.dish-description
	//				| Рецепт медовика появился около 200 лет назад,
	//				| когда повар императора Александра I приготовил
	//				| для его жены восхитительный десерт.
mixin slider-item(active, idSlider)
	if active == 'true'
		div(class="js-menu-content menu-content__list active" id="" + idSlider + "")
			+content-slider
	else
		div(class="js-menu-content menu-content__list" id="" + idSlider + "")
			+content-slider
