extends pug/base
append vars
	- title = "Рассольник"
	- meta.viewport = "width=480, initial-scale=1"
block content
	include pug/blocks/header
	+header('header-main_other-page')
	main.main-content
		header.header-content
			.main-wrapper.main-wrapper_content
				.breadcrumbs
					ul.breadcrumbs-list
						li.breadcrumbs-list__item
							a(href="/") Главная
						li.breadcrumbs-list__item
							a(href="#") О ресторане
				h1.main-h1 О ресторане
		section.about.section-with-line
			.main-wrapper.about-wrapper.wrapper-with-line
				.furniture
					picture.furniture-img.circle
						source(srcset="images/circle.webp" type="image/webp")
						img(src="images/circle.png" alt="Декор")
					picture.furniture-img.floor-lamp
						source(srcset="images/floor-lamp.webp" type="image/webp")
						img(src="images/floor-lamp.png" alt="Декор")
				.about-text
					h2.about-text__title
						| Ресторан русской кухни
					.about-text__paragraphs
						p
							| Ресторан &laquo;Рассольник&raquo;&nbsp;&mdash; это импровизированная квартира интеллигентной советской семьи, располагающая к&nbsp;душевным беседам и&nbsp;веселым застольям.
						p
							| Мой любимый ресторан. Была здесь с&nbsp;родителями, встречалась с&nbsp;подругами. Всегда высокий уровень обслуживания, прекрасная кухня, отличная атмосфера. Здесь все в&nbsp;советском стиле, приходя сюда, будто попадаешь в&nbsp;детство. У&nbsp;гардероба встречает добродушный дядя Вася в&nbsp;растянутых трениках, провожает к&nbsp;столику. Официантки внимательные, но&nbsp;когда много посетителей, обслуживают медленно.
					.schedule
						h3.schedule__title Ждем вас в гости
						.schedule__text-item
							.schedule__day понедельник - четверг,<br> воскресенье
							.schedule__time с 12-00 до 24-00
						.schedule__text-item
							.schedule__day пятница, суббота
							.schedule__time с 12-00 до 02-00



				.about-slider
					.about-slider__wrapper.js-about-slider
						.about-slider__item
							img(src="images/about-img.jpg" alt="О ресторане")
						.about-slider__item
							img(src="images/about-img.jpg" alt="О ресторане")
						.about-slider__item
							img(src="images/about-img.jpg" alt="О ресторане")
	include pug/blocks/footer
	+footer('')
	include pug/blocks/callback
	+callback
	include pug/blocks/arrow-top
