extends pug/base

append vars
	- title = "Рассольник"
	- meta.viewport = "width=device-width, initial-scale=1"

block content
	include pug/blocks/header
	+header('header-main_index')
	include pug/blocks/index-page/index-img-block/main-img-slider
	include pug/blocks/index-page/about-block/about-page
	+index-about-page
	include pug/blocks/index-page/history-block/some-history
	+main-some-history
	include pug/blocks/footer
	+footer('footer-main_index')
	include pug/blocks/callback
	+callback
	include pug/blocks/arrow-top
	//- ...
