extends pug/base
append vars
	- title = "Рассольник"
	- meta.viewport = "width=480, initial-scale=1"
block content
	include pug/blocks/header
	+header('header-main_other-page')
	main.main-content
		header.header-content
			.main-wrapper.main-wrapper_content
				.breadcrumbs
					ul.breadcrumbs-list
						li.breadcrumbs-list__item
							a(href="/") Главная
						li.breadcrumbs-list__item
							a(href="#") Интерьер
				h1.main-h1 Интерьер
		section.interior.section-with-line
			.main-wrapper.interior-list.wrapper-with-line
				.row-interior
					.row-interior__wrapper
						.interior-column1
							a.interior-list__item(href="#gallery1" title="Большой зал, 50 мест")
								img(src="images/interior1.jpg" alt="Зал 1")
								span.zoom
									| Просмотр
						.interior-column2
							a.interior-list__item(href="#gallery2" title="Большой зал, 50 мест")
								img(src="images/interior2.jpg" alt="Зал 2")
								span.zoom
									| Просмотр
							a.interior-list__item(href="#gallery3" title="Большой зал, 50 мест")
								img(src="images/interior3.jpg" alt="Зал 3")
								span.zoom
									| Просмотр
							a.interior-list__item(href="#gallery4" title="Большой зал, 50 мест")
								img(src="images/interior4.jpg" alt="Зал 4")
								span.zoom
									| Просмотр
				.row-interior
					.row-interior__wrapper
						.interior-column1
							a.interior-list__item(href="#gallery5" title="Большой зал, 50 мест")
								img(src="images/interior1.jpg" alt="Зал 1")
								span.zoom
									| Просмотр
						.interior-column2
							a.interior-list__item(href="#gallery6" title="Большой зал, 50 мест")
								img(src="images/interior2.jpg" alt="Зал 2")
								span.zoom
									| Просмотр
							a.interior-list__item(href="#gallery7" title="Большой зал, 50 мест")
								img(src="images/interior3.jpg" alt="Зал 3")
								span.zoom
									| Просмотр
							a.interior-list__item(href="#gallery8" title="Большой зал, 50 мест")
								img(src="images/interior4.jpg" alt="Зал 4")
								span.zoom
									| Просмотр
				.gallery-wrapper
					.gallery-item#gallery1
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
					.gallery-item#gallery2
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
					.gallery-item#gallery3
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
					.gallery-item#gallery4
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
					.gallery-item#gallery5
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
						a(href="images/interior1.jpg" title="Большой зал, 50 мест")
					.gallery-item#gallery6
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
						a(href="images/interior2.jpg" title="Большой зал, 50 мест")
					.gallery-item#gallery7
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
						a(href="images/interior3.jpg" title="Большой зал, 50 мест")
					.gallery-item#gallery8
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
						a(href="images/interior4.jpg" title="Большой зал, 50 мест")
		include pug/blocks/callback-without-popup
		+callback-h('interior-callback')
	include pug/blocks/footer
	+footer('')
	include pug/blocks/callback
	+callback
	include pug/blocks/arrow-top
