extends pug/base
mixin news-item
	article.news-list__item
		a(href="#").news-list__link
			.news-list__preview-img
				img(src='images/preview-img.jpg' alt="Новогодний рисунок")
			.news-list__content-wrapper
				h2.news-list__title
					| Новогодний рисунок
				.news-list__date 1 января 2018
				.news-list__text
					p
						| Мой любимый ресторан. Была здесь с
						| родителями, встречалась с подругами.
						| Всегда высокий уровень обслуживания.
				.btn.btn-next
					| Читать далее
					| <svg aria-hidden="true" class="svg-arrow-btn" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 7.97 7.97">
					| <defs>
					|     <style>
					|       .fill-btn-arrow {
					|         fill: #fff;
					|         fill-rule: evenodd;
					|       }
					|     </style>
					|   </defs>
					|   <path class="fill-btn-arrow" d="M1349.03,1496a1,1,0,0,1-.88-0.48,0.9,0.9,0,0,1,.39-1.27l4.38-2.24-4.38-2.24a0.9,0.9,0,0,1-.39-1.27,1.051,1.051,0,0,1,1.36-.37l5.98,3.06a0.907,0.907,0,0,1,0,1.64l-5.98,3.06A1.023,1.023,0,0,1,1349.03,1496Z" transform="translate(-1348.03 -1488.03)"/>
					| </svg>

append vars
	- title = "Рассольник"
	- meta.viewport = "width=device-width, initial-scale=1"

block content
	include pug/blocks/header
	+header('header-main_other-page')
	main.main-content
		header.header-content
			.main-wrapper.main-wrapper_content
				.breadcrumbs
					ul.breadcrumbs-list
						li.breadcrumbs-list__item
							a(href="/") Главная
						li.breadcrumbs-list__item
							a(href="#") Новости
				h1.main-h1 Новости
		.news
			.main-wrapper
				.subscription-instagram
					.subscription-instagram__text-wrapper
						.subscription-instagram__text
							| Подписывайтесь на наш
							img(src="images/instagram-logo.png" alt="Лого Instagram")
							span.subscription-instagram__additional-text
								| будьте в курсе всех событий
						a.btn.btn-instagram(href="https://www.instagram.com/rassolnik38/" target="_blank")
							| Подробнее
							| <svg aria-hidden="true" class="svg-arrow-btn" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 7.97 7.97">
							| <defs>
							|     <style>
							|       .fill-btn-arrow {
							|         fill: #fff;
							|         fill-rule: evenodd;
							|       }
							|     </style>
							|   </defs>
							|   <path class="fill-btn-arrow" d="M1349.03,1496a1,1,0,0,1-.88-0.48,0.9,0.9,0,0,1,.39-1.27l4.38-2.24-4.38-2.24a0.9,0.9,0,0,1-.39-1.27,1.051,1.051,0,0,1,1.36-.37l5.98,3.06a0.907,0.907,0,0,1,0,1.64l-5.98,3.06A1.023,1.023,0,0,1,1349.03,1496Z" transform="translate(-1348.03 -1488.03)"/>
							| </svg>

				.news-list
					+news-item
					+news-item
					+news-item
					+news-item
					+news-item
					+news-item
				.pagination
					include pug/blocks/pagination
					+pagination()

	include pug/blocks/footer
	+footer('')
	include pug/blocks/callback
	+callback
	include pug/blocks/arrow-top
