// stylelint-disable no-empty-source
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700&subset=cyrillic');
@font-face {
	src: url("../fonts/intro-black-webfont.woff2") format("woff2"), url("../fonts/intro-black-webfont.woff") format("woff");
	font-family: "intro";
	font-weight: 700;
	font-style: normal;
}
