@media (max-width: 1300px) {
	.main-img {
		height: 600px;
	}
	.about-main {
		padding-bottom: 140px;
	}
}
@media (max-width: 1200px) {
	.callback-btn_icon {
		display: none;
	}
	.callback-btn_text {
		width: auto;
	}
	.callback-btn {
		padding-right: 26px;
		margin-right: 50px;
		svg {
			margin-left: 27px;
		}
	}
	.main-logo {
		margin-right: 35px;
		margin-left: 35px;
	}
	.about-text-slider {
		padding-right: 0;
	}
	//.television-slider {
	//	width: 50%;
	//	background-size: 100% auto;
	//}
}
