@media (max-width: 1700px) {
	.affiche-background {
		right: 65%;
	}
}
@media (max-width: 1500px) {
	.affiche__slider-block .about-text-slider {
		padding-right: 30px;
		padding-left: 30px;
		margin-right: 0;
		width: calc(100% - 770px);
	}
	.affiche .interior-list {
		padding-left: 30px;
		padding-right: 30px;
	}
	.affiche__slider-block .about-text-slider::before {
		right: 0;
		width: 667px;
	}
	.additional-buttons {
		right: 601px;
	}
	.affiche-prev-slider {
		padding-right: 62px;
		padding-left: 62px;
	}
	.affiche-prev-slider .slick-prev {
		left: 0;
	}
	.affiche-prev-slider .slick-next {
		right: 0;
	}
}
@media (max-width: 1300px) {
	.main-img {
		height: 600px;
	}
	.about-main {
		padding-bottom: 140px;
	}
	.address-block__item {
		font-size: 15px;
		svg {
			margin-right: 8px;
		}
	}
}
@media (max-width: 1200px) {
	.callback-btn_icon {
		display: none;
	}
	.callback-btn_text {
		width: auto;
	}
	.callback-btn {
		padding-right: 26px;
		svg {
			margin-left: 27px;
		}
	}
	.callback-btn_desctop {
		margin-right: 50px;
	}
	.main-logo {
		margin-right: 35px;
		margin-left: 35px;
	}
	.about-text-slider {
		padding-right: 0;
		width: 40%;
		padding-left: 70px;
	}
	.television-slider-wrapper {
		width: 60%;
	}
	.fact-slider .slick-dots {
		left: -22px;
	}
	.fact-slider {
		width: 100%;
	}
	.some-history-title {
		display: none;
	}
	.main-title_history {
		display: block;
	}
	.lamp-switch {
		display: none;
	}
	.history-slider-image {
		left: 50%;
	}
	.about-main {
		padding-bottom: 140px;
	}
	.address-block {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 60px;
	}
	.address-block__item {
		margin-bottom: 20px;
	}
	.chebupele_left-col {
		display: none;
	}
	.chebupele_right-col {
		display: block;
	}
	.footer-information-block {
		flex-direction: column;
		align-items: flex-start;
	}
	.site-rules {
		margin-bottom: 20px;
	}
	.main-nav:not(.main-nav-footer) {
		display: none;
	}
	.callback-btn_mobile {
		display: inline-block;
	}
	.callback-btn_desctop {
		display: none;
	}
	.logo-text {
		margin-bottom: 28px;
	}
	.burger-for-nav {
		display: block;
	}
	.burger-background {
		display: block;
	}
	.mobile-menu {
		display: flex;
	}
	.background-history-wrapper, .footer-background-wrapper {
		width: 50%;
	}
	.switch-television {
		top: 52%;
		right: 6.4%;
		width: 5.5%;
	}
	.television-slider__item img {
		top: 7%;
		left: 5%;
		width: 68%;
		height: 78%;
		object-fit: cover;
		font-family: 'object-fit: cover;';
	}
	.footer-text, .social-link {
		margin-bottom: 55px;
	}
	.working-hours_header {
		display: none;
	}
	.header-main_other-page .burger-background {
		top: 42px;
	}
	.header-main_other-page .main-wrapper {
		padding: 42px 30px;
	}
	.header-main_other-page .burger-for-nav {
		margin-bottom: auto;
	}
	.restaurant-menu-wrapper {
		padding-left: 0;
	}
	.restaurant-menu-wrapper::before {
		content: '';
		width: calc((100vw - 100%) / 2);
		height: 100%;
		position: absolute;
		left: 0;
		transform: translateX(-100%);
		background: $menu-background;
	}
	.waitress, .menu-decor {
		display: none;
	}
	.callback-h {
		display: none;
	}
	.furniture {
		width: 25%;
	}
	.about-text, .about-page-slider {
		width: 37.5%;
	}
	.about-slider__wrapper {
		height: 450px;
	}
	.affiche-background {
		display: none;
	}
	.affiche__slider-block .television-slider-wrapper {
		margin-left: 0;
	}
	.affiche__slider-block .about-text-slider {
		width: 40%;
	}
	.affiche__slider-block {
		min-height: 680px;
	}
	.affiche-prev-item {
		flex-direction: column;
		align-items: center;
	}
	.affiche-prev-item__text {
		margin-top: 18px;
		margin-left: 0;
	}
	.affiche-prev-item__time {
		text-align: center;
	}
	.affiche-prev-item__title {
		text-align: center;
	}
	.btn-order {
		display: none;
	}
	.description-content::before {
		content: none;
	}
	.interior {
		margin-bottom: 0px;
	}
	.news {
		border-top: none;
		margin-top: 25px;
	}
	.news-detail {
		border-top: none;
	}
	.address-block__item {
		font-size: 16px;
		svg {
			margin-right: 21px;
		}
	}
}
@media (max-width: 1024px) {
	.background-history-wrapper__transform {
		transform: none;
		background-size: cover;
	}
	.television-slider-wrapper {
		width: 100%;
		max-width: 696px;
		margin: 127px auto 58px;
	}
	.about-slider {
		flex-direction: column;
	}
	.about-text-slider {
		width: 100%;
		padding-left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main-img {
		display: none;
	}
	.header-main_index {
		position: relative;
		background: transparent;
	}
	.about-main {
		padding-top: 0;
		border-bottom: 1px solid $separate-line;
	}
	.about-decor {
		width: 100%;
		&::before {
			content: none;
		}
		picture, img {
			width: 100%;
		}
	}
	.main-title_about {
		font-size: 28px;
		margin-bottom: 40px;
	}
	.slider-text {
		margin-bottom: 21px;
		padding-right: 130px;
		padding-left: 130px;
	}
	.fact-slider__item {
		text-align: center;
	}
	.btn-about {
		margin-top: 35px;
	}
	.fact-slider .slick-dots {
		top: auto;
		bottom: -42px;
		left: 50%;
		transform: translate(-50%, 100%);
		flex-direction: row;
		height: 24px;
		li {
			margin-bottom: 0;
			margin-right: 19px;
		}
	}
	.fact-slider .slick-dots li:last-child {
		margin-right: 0;
	}
	.some-history-wrapper {
		flex-direction: column;
		align-items: center;
	}
	.some-history {
		padding-top: 56px;
	}
	.main-title_history, .slider-text {
		text-align: center;
	}
	.history-slider-image {
		position: relative;
		top: 0;
		transform: translate(-50%, 0);
	}
	.background-history-wrapper {
		width: 100%;
		height: 339px;
		transform: none;
		bottom: 0;
		top: auto;
	}
	.some-history-slider {
		margin: 0 auto;
		max-width: none;
		width: 100%;
		.slick-dots {
			justify-content: center;
		}
	}
	.history-arrow-wrapper {
		position: absolute;
		z-index: 1;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 0;
		top: -7px;
		pointer-events: none;
	}
	.history-background {
		z-index: -1;
	}
	.some-history__col-1 {
		width: 100%;
		padding-top: 40px;
	}
	.some-history-slider .slick-arrow {
		pointer-events: auto;
	}
	.slider-paragraph {
		padding-left: 130px;
		padding-right: 130px;
		text-align: center;
	}
	.some-history__col-2 {
		padding-bottom: 166px;
	}
	.footer-wrapper {
		flex-direction: column;
		align-items: center;
	}
	.footer-main {
		padding: 69px 0 52px;
	}
	.footer-background-wrapper {
		width: 100%;
		height: 574px;
		transform: none;
		transform: skewY(-11deg);
	}
	.footer-logo {
		margin-bottom: 43px;
	}
	.footer-text {
		margin-bottom: 31px;
		padding: 0;
	}
	.social-link {
		margin-bottom: 28px;
	}
	.footer-col-1 {
		width: 50%;
	}
	.footer-col-2 {
		padding-left: 0;
		width: 90%;
		margin-top: 212px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.separate-line {
		position: relative;
		margin-left: 0;
		order: 2;
	}
	.address-block,
	.footer-information-block,
	.site-rules {
		align-items: center;
	}
	.main-nav-footer {
		order: 1;
	}
	.address-block {
		order: 3;
		margin-bottom: 52px;
	}
	.footer-information-block {
		order: 5;
	}
	.chebupele_right-col {
		order: 4;
		position: static;
		transform: none;
		margin-bottom: 52px;
	}
	.copyright-text {
		padding: 0;
	}
	.site-rules-text {
		text-align: center;
	}
	.banquets-wrapper {
		flex-direction: column;
		.title-content {
			margin-bottom: 55px;
		}
	}
	.banquets-description::before, .banquets-menu::before {
		content: none;
	}
	.banquets-description, .banquets-menu {
		width: 100%;
	}
	.banquets-description {
		background-size: auto;
		background: #ffffff url(../images/table-banquets.png) no-repeat center calc(100% + 1px);
		padding-top: 35px;
	}
	.title-content::before {
		content: '';
		width: 119px;
		height: 3px;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
		display: block;
		background: url("../images/h1-bottom.svg") no-repeat;
	}
	.description-content {
		display: none;
	}
	.about-wrapper {
		flex-direction: column;
	}
	.furniture, .about-text, .about-page-slider {
		width: 100%;
	}
	.circle {
		display: none;
	}
	.furniture {
		min-height: 0;
	}
	.about-wrapper {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.furniture-img.floor-lamp {
		width: 235px;
		top: -19px;
		right: 23px;
		transform: none;
	}
	.section-with-line {
		border: none;
	}
	.wrapper-with-line {
		margin-top: 0;
	}
	.about-text {
		margin-top: 151px;
	}
	.about-page-slider {
		padding-top: 0;
		display: flex;
		justify-content: center;
		padding-bottom: 120px;
	}
	.about-slider__wrapper {
		height: 400px;
		max-width: 600px;
		.slick-arrow {
			left: 50%;
			right: auto;
			transform: translateX(-100%);
		}
		.slick-prev {
			margin-right: 60px;
		}
		.slick-next {
			margin-left: 60px;
		}
	}
	.affiche__slider-block {
		flex-direction: column;
	}
	.affiche__slider-block .television-slider-wrapper {
		left: 50%;
		transform: translateX(-50%);
	}
	.additional-buttons {
		right: auto;
		left: 50%;
		transform: translateX(-50%);
	}
	.affiche__slider-block .about-text-slider::before {
		width: 100%;
	}
	.affiche__slider-block .about-text-slider {
		width: 100%;
	}
	.affiche__slider-block {
		min-height: auto;
	}
	.affiche .about-text-slider {
		position: relative;
	}
	.interior-column1 {
		width: 35%;
	}
	.interior-column2 {
		width: 65%;
	}
	.zoom {
		padding: 0;
		font-size: 0;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		&::before {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.news > .main-wrapper {
		padding-right: 0;
		padding-left: 0;
	}
	.subscription-instagram::before {
		left: 50px;
	}
	.subscription-instagram__text-wrapper {
		margin-left: 347px;
		max-width: none;
		padding-right: 30px;
	}
	.news-detail__cotent {
		flex-direction: column;
	}
	.aside-news-detail, .news-detail__text {
		width: 100%;
	}
	.news-detail__text {
		margin-left: 0;
	}
	.book-table {
		display: none;
	}
	.news-detail {
		margin-bottom: 80px;
	}
	.main-wrapper_news-detail {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.news-detail__cotent {
		padding-right: 30px;
		padding-left: 30px;
	}
	.aside-news-detail {
		padding-top: 65px;
	}
	.news-detail__text {
		padding-top: 20px;
	}
	.page-slider {
		max-width: 800px;
		width: 100%;
		height: 380px;
		margin: 0 auto;
		.slick-list,
		.slick-slide,
		.slick-track,
		.page-slider__item {
			height: 100%;
		}
		.slick-slide > div {
			height: 100%;
		}
		.page-slider__item img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			font-family: 'object-fit: cover; object-position: center;';
		}
	}
	.reviews {
		margin-bottom: 150px;
	}
	.contacts-form-wrapper {
		position: relative;
	}
	.contacts {
		display: flex;
		flex-direction: column-reverse;
	}
	.map-block {
		height: 550px;
	}
	.callback-form-wrapper_contacts {
		margin: -80px auto 120px auto;
	}
	.img-404 {
		margin-left: 0;
	}
	.text-404, .btn-404 {
		transform: none;
		margin-left: 0;
	}
	.text-404 {
		margin-bottom: 30px;
	}
	.main-wrapper__404 {
		margin-bottom: 120px;
	}
}
@media (max-width: 900px) {
	.category-menu__list {
		display: none;
	}
	.mobile-category-menu {
		display: inline-block;
	}
	.breadcrumbs-list__item a {
		border: none;
		font-size: 14px;
		background-color: $slick-arrow;
		border-radius: 17px;
		padding: 9px 26px;
	}
	.breadcrumbs-list__item:last-child a {
		background-color: transparent;
		padding: 9px 0px;
	}
	.breadcrumbs-list__item:not(:last-child)::before {
		content: none;
	}
	.restaurant-menu-wrapper {
		flex-direction: column;
	}
	.restaurant-menu-category {
		width: 100%;
	}
	.restaurant-subcategory {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.restaurant-subcategory__item {
		margin-right: 27px;
		position: relative;
		&::before {
			content: '';
			width: 2px;
			height: 15px;
			background: #b69479;
			display: block;
			position: absolute;
			right: -16px;
			top: 4px;
			transform: rotate(15deg);
		}
	}
	.restaurant-subcategory__item:last-child {
		margin-right: 0;
		&::before {
			content: none;
		}
	}
	.restaurant-menu-category::before {
		content: none;
	}
	.menu-content {
		width: 100%;
		padding: 42px 60px 60px 60px;
		&::before {
			content: none;
		}
	}
	.restaurant-subcategory__item a.active::before {
		content: none;
	}
	.restaurant-subcategory__item a.active {
		color: #392a1d;
		font-weight: 600;
	}
	.news-list__item {
		width: 50%;
	}
	.news-list__item:nth-child(3n + 1) {
		border-left: none;
	}
	.news-list__item:nth-child(odd) {
		border-left: 1px solid #bea087;
	}
}
@media (max-width: 800px) {
	.restaurant-menu-category {
		padding: 30px 0;
	}
	.menu-content {
		padding: 60px 0;
	}
	.banquets-description, .banquets-menu {
		padding-left: 30px;
		padding-right: 30px;
	}
	.photo-hall {
		margin-bottom: 130px;
	}
	.furniture-img.floor-lamp {
		width: 220px;
	}
	.about-text__title {
		padding-right: 235px;
	}
	.subscription-instagram__text {
		font-size: 23px;
		img {
			margin-top: 3px;
			width: 110px;
			margin-left: 11px;
		}
	}
	.subscription-instagram::before {
		width: 218px;
		background-size: 100% auto;
	}
	.subscription-instagram__text-wrapper {
		margin-left: 297px;
	}
	.about-decor {
		height: 28%;
		picture {
			height: 100%;
		}
		img {
			height: 100%;
			object-fit: cover;
			font-family: 'object-fit: cover;';
		}
	}
}
@media (max-width: 640px) {
	.slider-text {
		padding: 0;
	}
	.slider-paragraph {
		padding: 0;
	}
	.some-history__col-2 {
		padding-bottom: 130px;
	}
	.background-history-wrapper {
		height: 284px;
	}
	.footer-background-wrapper {
		height: 540px;
	}
	.main-wrapper {
		padding-right: 15px;
		padding-left: 15px;
	}
	.burger-background {
		left: 15px;
	}
	.burger-for-nav {
		flex-shrink: 0;
	}
	.main-logo {
		margin-left: 0;
		margin-right: 0;
	}
	.main-nav-footer .main-nav__item {
		margin-right: 30px;
	}
	.main-nav-footer .main-nav_lower-level-item {
		margin-right: 28px;
	}
	.header-main_other-page .main-wrapper {
		padding: 42px 15px;
	}
	.header-main_other-page .main-wrapper_index {
		align-items: flex-start;
	}
	.dish-description {
		display: none;
	}
	.menu-content__item:nth-child(even) {
		flex-direction: row;
	}
	.menu-content__item:nth-child(even) .menu-header {
		flex-direction: column;
	}
	.menu-content__item:nth-child(even) .menu-img {
		margin-left: 0;
		margin-right: 28px;
	}
	.slider-pagination {
		display: none;
	}
	.menu-header {
		flex-direction: column;
	}
	.menu-content__item:nth-child(even) .dish-weight {
		text-align: left;
	}
	.dish-price {
		color: #ffffff;
		background-color: #b69479;
		border-radius: 18px;
		padding: 10px 23px;
		margin-top: 7px;
	}
	.dish-weight {
		margin-top: 25px;
	}
	.restaurant-menu-category {
		border-bottom: 1px solid #e2e2e2;
	}
	.menu-content__item:nth-child(even), .menu-content__item {
		transform: translateX(0);
	}
	.slick-active .menu-content__item,
	.slick-active .menu-content__item:nth-child(even) {
		transition-delay: 0s !important;
	}
	.banquets-wrapper {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.photo-hall__wrapper {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.banquets-description, .banquets-menu {
		padding-right: 10px;
		padding-left: 10px;
	}
	.banquets-description {
		padding-bottom: 290px;
	}
	.photo-hall__title {
		font-size: 16px;
	}
	.hall-gallery .mfp-arrow {
		top: auto;
		bottom: 0;
		left: 50%;
		right: auto;
		margin: 0;
		transform: translate(-50%, 100%);
	}
	.hall-gallery .mfp-arrow-left {
		margin-left: -35px;
	}
	.hall-gallery .mfp-arrow-right {
		margin-left: 35px;
	}
	.hall-gallery .mfp-close {
		transform: none;
	}
	.about-slider__wrapper {
		max-width: none;
	}
	.about-page-slider {
		padding-bottom: 0;
	}
	.about-slider__wrapper .slick-arrow {
		top: 50%;
		transform: translate(0, -50%);
		z-index: 3;
	}
	.about-slider__wrapper .slick-prev {
		left: 0;
		margin-left: 18px;
	}
	.about-slider__wrapper .slick-next {
		right: 0;
		left: auto;
		margin-right: 18px;
	}
	.furniture-img.floor-lamp {
		width: 142px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		top: 28px;
	}
	.about-text__title {
		padding-right: 0;
		text-align: center;
		&::before {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.about-text {
		margin-top: 180px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.schedule__title {
		text-align: center;
	}
	.schedule__text-item {
		justify-content: center;
	}
	.affiche .interior-list {
		padding-left: 15px;
		padding-right: 15px;
	}
	.affiche-prev-item {
		padding-right: 0;
	}
	.affiche-prev-slider {
		padding-right: 0;
		padding-left: 0;
		margin-bottom: 150px;
		margin-top: 80px;
	}
	.affiche-prev-slider .slick-arrow-page {
		left: 50%;
		top: auto;
		bottom: 0;
		transform: translate(-50%, 100%);
		margin-bottom: -30px;
	}
	.affiche-prev-slider .slick-prev {
		margin-left: -40px;
	}
	.affiche-prev-slider .slick-next {
		margin-left: 40px;
	}
	.interior .interior-list {
		padding-left: 0;
		padding-right: 0;
	}
	.interior-column1, .interior-column2 {
		width: 100%;
		height: 25%;
	}
	.interior-column2 {
		height: 75%;
	}
	.row-interior {
		padding-top: 200%;
	}
	.interior-column2 .interior-list__item:nth-child(2),
	.interior-column2 .interior-list__item:nth-child(3) {
		width: 100%;
		height: 33.3333%;
	}
	.interior-column2 .interior-list__item:nth-child(1) {
		height: 33.3333%;
	}
	.subscription-instagram::before {
		left: 15px;
		width: 194px;
	}
	.subscription-instagram__text-wrapper {
		margin-left: 245px;
	}
	.subscription-instagram__additional-text {
		display: none;
	}
	.news-list__content-wrapper {
		padding: 22px 25px 38px;
	}
	.news-list__item {
		width: 100%;
		border-left: 1px solid #bea087;
	}
	.news-list__item:nth-child(3n + 1) {
		border-left: 1px solid #bea087;
	}
	.subscription-instagram__text-wrapper {
		padding-right: 15px;
	}
	.news-detail__cotent {
		padding-left: 15px;
		padding-right: 15px;
	}
	.news-detail {
		margin-bottom: 65px;
	}
	.main-wrapper__404 {
		margin-bottom: 80px;
	}
	.some-history-slider .slick-dots li button {
		height: 8px;
	}
}
@media (max-width: 480px) {
	.television-slider-wrapper {
		margin: 75px auto 58px;
	}
	.main-wrapper {
		padding-right: 10px;
		padding-left: 10px;
	}
	.main-logo {
		width: 144px;
	}
	.logo-image svg {
		width: 144px !important;
	}
	.logo-text {
		font-size: 14px;
	}
	.burger-background {
		left: 10px;
		top: 45px;
	}
	.callback-btn_text {
		font-size: 12px;
	}
	.callback-btn {
		width: calc(100% + 30px);
		padding: 10px;
	}
	.callback-btn svg {
		margin-left: 7px;
	}
	.main-wrapper_index {
		padding-top: 35px;
	}
	.language-block {
		margin-top: 21px;
	}
	.burger-for-nav {
		margin-top: 21px;
	}
	.callback {
		padding-right: 15px;
		padding-left: 15px;
	}
	.callback-form-item {
		margin-bottom: 18px;
	}
	.callback-form-item_submit {
		margin-top: 47px;
	}
	.footer-col-1 {
		width: 90%;
	}
	.main-nav__menu, .main-nav_lower-level {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main-nav-footer .tripadvisor-link {
		display: none;
	}
	.main-nav_lower-level-item a {
		font-size: 20px;
		font-weight: 500;
	}
	.main-nav-footer .main-nav__item,
	.main-nav-footer .main-nav_lower-level-item {
		margin-right: 0;
		margin-bottom: 24px;
	}
	.main-nav__menu {
		margin-bottom: 0;
	}
	.footer-col-2 {
		width: 90%;
	}
	.menu-content__item, .menu-content__item:nth-child(even) {
		flex-direction: column;
		align-items: center;
	}
	.menu-header {
		align-items: center;
	}
	.dish-weight {
		text-align: center !important;
	}
	.menu-content__item .menu-img {
		margin: 0 !important;
	}
	.menu-content-title {
		text-align: center;
	}
	.header-main_other-page .main-wrapper_index {
		padding-top: 35px;
		padding:  35px 10px 42px;
	}
	.header-main_other-page .burger-background {
		top: 45px;
	}
	.header-main_other-page .callback-btn {
		padding: 10px;

	}
	.photo-hall__wrapper {
		flex-direction: column;
	}
	.photo-hall__item {
		width: 100%;
		margin-bottom: 90px;
	}
	.photo-hall__text {
		padding-bottom: 37px;
	}
	.photo-hall {
		margin-bottom: 60px;
	}
	.menu-title-wrapper {
		justify-content: center;
	}
	.about-slider__wrapper {
		height: 320px;
	}
	.subscription-instagram::before {
		display: none;
	}
	.subscription-instagram__text-wrapper {
		padding-left: 15px;
		margin-left: 0;
	}
	.pagination-list__item:not(.pagination-arrow) a {
		font-size: 17px;
	}
	.news {
		margin-top: 0;
		padding-top: 0;
	}
	.page-slider {
		height: 320px;
	}
	.news-detail {
		margin-bottom: 50px;
	}
	.reviews-tablist__item a {
		padding: 0 8px;
	}
	.reviews-tablist {
		flex-direction: column;
	}
	.reviews-tablist__item {
		width: 100%;
		border: 1px solid #e1dcd6;
	}
	.reviews-tablist__item:nth-child(2)::before, .reviews-tablist__item:nth-child(2)::after {
		content: none;
	}
	.reviews-tablist__item:not(:first-child) {
		margin-top: -1px;
	}
	.custom-baloon::after {
		content: none;
	}
	.custom-baloon {
		width: 250px;
	}
	.callback-form-wrapper_contacts {
		padding: 50px 15px 35px 15px;
	}
	.callback-form-wrapper_contacts .form-submit {
		font-size: 16px;
	}
	.menu-content__item {
		margin-top: 30px;
	}
}
