// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$main-color-font: #292522;
$form-placeholder: #b69479;
$main-menu-color: #392a1d;
$btn-color: #3a3b41;
$btn-header-color: #f7d1aa;
$background-table-header: #434c55;
$btn-hover: #b3a18e;
$body-color: #f8f3ec;
$dots-background-color: #ded1c3;
$dots-color: #cd501f;
$slick-arrow: #ebe2d8;
$dots-history-slider: #dcd3c6;
$border-input-color: #bfbcb8;
$label-color: #6a6a6a;
$separate-line: #e1dcd6;
$breadcrambsBorder: #edbfae;
$breadcrambsNotActive: #d8d0c5;
$menu-background: #f9f9f9;
$menu-subtitle: #353c44;
$dish-description: #adadad;
