// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "main-template";
.main-img {
	width: 100%;
	height: 944px;
	position: relative;
	overflow: hidden;
}
.main-img__wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center bottom;
		font-family: 'object-fit: cover; object-position: center bottom;';
	}
}
.main-nav__menu, .main-nav_lower-level, .main-wrapper_index {
	display: flex;
	align-items: center;
}
.main-wrapper_index {
	justify-content: space-between;
	align-items: flex-start;
	padding: 42px 30px;
}
.main-nav__item a {
	color: $main-menu-color;
	font-weight: 500;
	font-size: 20px;
	position: relative;
	transition: .3s ease;
	&:hover {
		color: #ffffff;
	}
	&:hover::before {
		@include link-hover_hover
	}
	&::before {
		@include link-hover
	}
}
.mobile-nav-list__item a::before {
	@include link-hover;
	background: #ffffff;
}
.mobile-nav-list__item a:hover::before {
	@include link-hover_hover
}
.header-main {
	//z-index: 10;
	position: relative;
}
.header-main_index {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: linear-gradient(to bottom, rgba(255,255,255,.9) 20%, transparent 100%);
}
.main-nav_lower-level-item a {
	font-size: 16px;
	position: relative;
	transition: .3s ease;
	color: $main-menu-color;
	&:hover {
		color: #ffffff;
	}
	&:hover::before {
		@include link-hover_hover
	}
	&::before {
		@include link-hover
	}
}
.main-nav__menu {
	margin-bottom: 25px;
}
.main-nav__item {
	margin-right: 32px;
}
.main-nav_lower-level-item {
	margin-right: 28px;
}
.header-main_index {
	.logo-image {
		pointer-events: none;
	}
}
.main-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo-text {
	font-size: 20px;
	color: #826b58;
	font-weight: 500;
	span {
		font-weight: 700;
		color: $main-menu-color;
	}
}
.callback-btn_text {
	color: $btn-header-color;
	text-align: left;
	width: 130px;
	svg {
		margin-bottom: 1px;
		margin-left: 5px;
	}
}
.callback-arrow-right, .table-icon {
	transition: .3s ease;
}
.callback-btn {
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	padding: 10px 26px;
	padding-right: 113px;
	margin-right: 117px;
	transition: .3s ease;
	&:hover {
		background: #ffffff;
		.callback-btn_text {
			color: $btn-hover;
		}
		.callback-arrow-right {
			fill: $btn-hover
		}
		.callback-btn_icon {
			background: #ffffff;
		}
		.table-icon {
			fill: $btn-hover;
		}
	}
}
.callback-btn_icon {
	position: absolute;
	top: 1px;
	right: 0;
	height: calc(100% - 2px);
	background: $background-table-header;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 11px;
	padding-right: 22px;
	transition: .3s ease;
}
.header-right-block {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.language-block__icon {
	margin-bottom: 9px;
	a {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		background: $btn-color;
		transition: .3s ease;
		font-weight: 700;
		font-size: 15px;
	}
}
.language-block__icon a:hover, .language-block__icon a.active {
	background: #ffffff;
	color: $btn-hover;
}
.logo-image {
	margin-bottom: 16px;
}
.main-img__wrapper-old-interior img, .main-img__wrapper-chair-old img {
	opacity: 0;
}
.main-img.animate {
	.main-img__wrapper-new-interior img {
		animation: fadeOutBackgroundMain 1.5s ease 2s both;
	}
	.main-img__wrapper-old-interior img {
		animation: fadeInBackgroundMain 1.5s ease 2s both;
	}
	.main-img__wrapper-chair-new img {
		animation: fadeOutBottomBackMain 1s ease 2.7s both;
	}
	.main-img__wrapper-chair-old img {
		animation: fadeInBottomBackMain 1s ease 2.7s both;
	}
}
.about-slider {
	display: flex;
	align-items: flex-start;
	width: 100%;
}
.col-slider {
	width: 50%;
}
.main-title {
	font-family: intro, sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	color: $main-menu-color;
	font-weight: 700;
}
.slider-text {
	font-weight: 500;
	font-size: 21px;
	line-height: 1.4;
	color: $form-placeholder;
	margin-bottom: 44px;
}
.slider-paragraph {
	font-size: 18px;
	line-height: 1.3;
	color: $main-color-font;
	margin-bottom: 20px;
}
.about-main {
	position: relative;
	padding: 96px 0;
}
.about-decor {
	position: absolute;
	left: 0;
	display: inline-block;
	z-index: -1;
	width: 50%;
	height: auto;
	&::before {
		content: '';
		position: absolute;
		width: 250px;
		height: 100%;
		top: 0;
		right: 0;
		background: linear-gradient(to right, transparent, $body-color);
	}
	img {
		object-fit: contain;
		font-family: 'object-fit: contain;';
	}
}
.television-slider {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	top: 0;
	left: 0;
	//background: url("../images/televesion.png") no-repeat;
	//background-size: contain;
	position: absolute;
	//margin-top: 44px;
	.slick-list {
		z-index: -1;
		height: 100%;
	}
	.slick-track {
		height: 100%;
		div {
			height: 100%;
		}
	}
}
.television-slider__item {
	position: relative;
	img {
		position: relative;
		top: 40px;
		left: 42px;
	}
}
.main-title_about {
	margin-bottom: 72px;
}
.about-text-slider {
	padding-right: 100px;
	padding-left: 102px;
	width: calc(100% - 696px);
	flex-grow: 0;
}
.television-slider-wrapper {
	position: relative;
	margin-top: 36px;
	flex-shrink: 0;
}
.switch-television {
	position: absolute;
	top: 244px;
	right: 45px;
	z-index: 2;
	transition: .3s ease;
	transform: rotate(-55deg);
	cursor: pointer;
}
.switch-television[data-switch-index="1"] {
	transform: rotate(-33deg);
}
.switch-television[data-switch-index="2"] {
	transform: rotate(-3deg);
}
.fact-slider .slick-dots {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
	transform: translateX(-100%);
	left: -64px;
	top: 6px;
	li {
		margin: 0;
		width: auto;
		height: auto;
		margin-bottom: 19px;
	}
	button {
		padding: 0;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: $dots-background-color;
		position: relative;
		&::before {
			content: '';
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $dots-color;
			opacity: 0;
			transition: .3s ease;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.slick-active button::before {
		opacity: 1;
	}
}
.fact-slider .slick-dots li:not(.slick-active) button:hover::before, .fact-slider .slick-dots li:not(.slick-active) button:focus::before {
	opacity: 0;
}
.svg-arrow-btn {
	margin-left: 29px;
}
.fill-btn-arrow {
	transition: .3s ease;
}
.btn-about {
	margin-top: 60px;
}
.some-history__col-1, .some-history__col-2 {
	width: 50%;
}
.some-history__col-1 {
	padding-top: 59px;
	padding-bottom: 71px;
}
.some-history-wrapper {
	display: flex;
	flex-wrap: wrap;
}
.some-history-slider .slick-arrow {
	position: static;
}
.all-slick {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: $slick-arrow;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s ease;
	transform: none;
	&:hover {
		background: $form-placeholder;
		opacity: 1;
		polyline {
			stroke: #ffffff;
		}
	}
	&.slick-prev {
		margin-right: 16px;
	}
}
.path-arrow-slick {
	transition: .3s ease;
}
.all-slick::before {
	content: none;
}
.history-arrow-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 38px;
}
.some-history-slider {
	max-width: 408px;
	margin-bottom: 0 !important;
	.slick-dots {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		position: static;
		margin-top: 37px;
		li {
			margin: 0;
			height: auto;
			width: auto;
			margin-right: 9px;
			button {
				padding: 0;
				height: 4px;
				width: 69px;
				background: $dots-history-slider;
				transition: .3s ease;
				&::before {
					content: none;
				}
				&:hover {
					background: $dots-color;
				}
			}
			&.slick-active button {
				background: $dots-color;
			}
		}
	}
}
.some-history__col-2 {
	position: relative;
}
.some-history {
	position: relative;
}
.background-history-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: calc(50% + 89px);
	transform-origin: right bottom;
	transform: skewX(-16deg);
	overflow: hidden;
}
.background-history-wrapper__transform {
	background: url("../images/background-history.jpg") center no-repeat;
	background-size: 110% auto;
	width: 100%;
	height: 100%;
	transform: skewX(16deg) scale(1.5);
}
.some-history-title {
	position: absolute;
	right: 0;
	top: 50%;
	font-family: intro, sans-serif;
	transform: translateY(-50%);
	background: #ffffff;
	color: $dots-color;
	font-size: 36px;
	text-transform: uppercase;
	padding: 12px 35px;
	font-weight: 700;
}
.history-slider-image {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 245px;
	//.slick-track {
	//	width: auto !important;
	//}
	//.slick-slide {
	//	width: auto !important;
	//	position: absolute !important;
	//	left: 0 !important;
	//	top: 0 !important;
	//	& > div {
	//		display: inline-block;
	//	}
	//	&.slick-active {
	//		position: relative !important;
	//	}
	//}
}
.history-slider-image__item {
	picture {
		display: inline-block;
	}
}
.lamp-switch {
	display: inline-block;
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	transform: translate(-50%, -50%);
	&::before, &::after {
		content: '';
		width: 32px;
		height: 32px;
		border-radius: 50%;
		//background-color: #ffffff;
		position: absolute;
		box-shadow: 0px 0px 130px 45px #eec65f, inset 0px 0px 36px 0px #eec65f;
		left: 35px;
		top: -4px;
		opacity: 0;
		transition: .3s ease;
	}
	&::after {
		left: 148px;
	}
}
.some-history.animate .lamp-switch::before, .some-history.animate .lamp-switch::after {
	opacity: 0.45;
}
.main-wrapper__some-history {
	position: relative;
}
.history-background {
	width: 100%;
	overflow: hidden;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
}
.footer-main {
	position: relative;
	padding: 111px 0 69px 0;
	overflow: hidden;
	margin-top: auto;
}
.footer-background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	overflow: hidden;
}
.footer-wrapper {
	display: flex;
	align-items: flex-start;
}
.footer-col-1 {
	width: calc(100% / 3);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.footer-col-2 {
	width: calc(100% / 3 * 2);
	padding-left: 189px;
}
.footer-background-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(50% - 89px);
	height: 100%;
	background: $btn-color;
	transform-origin: left top;
	transform: skewX(-16deg);
}
.footer-text, .copyright-text {
	text-align: center;
	font-size: 15px;
	color: #ffffff;
}
.footer-logo {
	margin-bottom: 35px;
}
.footer-text {
	margin-bottom: 39px;
	padding: 0 57px;
}
.social-link {
	margin-bottom: 97px;
	display: flex;
}
.social-link__item + .social-link__item {
	margin-left: 16px;
}
.chebupele {
	position: absolute;
	bottom: -16px;
	right: 0px;
	transform: translateX(50%);
}
.chebupele_right-col {
	bottom: auto;
	top: 50%;
	right: 93px;
	transform: translate(0, -34%);
	display: none;
}
.copyright-text {
	padding: 0 76px;
}
.footer-main_index {
	.footer-logo {
		pointer-events: none;
	}
}
.main-nav-footer {
	margin-bottom: 52px;
	.main-nav__item {
		margin-right: 51px;
	}
	.main-nav_lower-level-item {
		margin-right: 44px;
	}
}
.separate-line {
	width: 100vw;
	height: 1px;
	background: #e1dcd6;
	margin-left: -18px;
	margin-bottom: 66px;
}
.address-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 103px;
}
.address-block__item {
	color: $main-menu-color;
	font-size: 16px;
	display: flex;
	align-items: center;
	svg {
		margin-right: 21px;
	}
	span {
		border-bottom: 1px solid rgba(122, 122, 122, .4);
		transition: .3s ease;
		line-height: 1.4;
	}
}
.footer-information-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.site-rules {
	flex-direction: column;
	display: flex;
	align-items: flex-start;
}
.mmit-svg-path {
	transition: fill .3s ease;
}
.mmit-svg {
	display: flex;
	align-items: center;
	svg {
		margin-right: 12px;
	}
	span {
		font-size: 13px;
		color: #B5B5B5;
		line-height: 1.4;
	}
	&:hover .mmit-svg-path {
		fill: #a3a2a2;
	}
}
.site-rules-text {
	font-size: 15px;
	color: #000000;
	margin-bottom: 10px;
	font-weight: 500;
	border-bottom: 1px solid rgba(149, 148, 148, .4);
	transition: .3s ease;
	line-height: 1.4;
	&:hover {
		border-color: rgba(149, 148, 148, .7);
	}
}
a.address-block__item:hover span {
	border-color: rgba(122, 122, 122, .7);
}
.callback {
	max-width: 600px;
	width: 100%;
	background: $body-color url("../images/background-form.jpg") no-repeat center bottom;
	position: relative;
	margin: 30px auto;
}
.mfp-bg {
	background: rgba(0,0,0,.58);
}
.mfp-close {
	font-size: 32px;
}
.callback-form-wrapper {
	max-width: 307px;
	width: 100%;
	margin: 0 auto;
	padding: 55px 0 237px 0;
}
.form-title {
	font-size: 21px;
	line-height: 1.3;
	color: $form-placeholder;
	text-align: center;
	margin-bottom: 29px;
}
.form-separate {
	width: 69px;
	height: 4px;
	background: $dots-color;
	margin: 0 auto 42px;
}
.callback-form-input {
	border-radius: 35px;
	border: 1px solid $border-input-color;
	width: 100%;
	background: transparent;
	height: 54px;
	padding: 0 56px;
}
.callback-form-item {
	margin-bottom: 24px;
}
.callback-form-label {
	color: $label-color;
	font-size: 16px;
	background: $body-color;
	padding: 0 10px;
	margin-left: 41px;
	transform: translateY(50%);
}
.form-submit {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.callback-arrow-right {
		fill: #ffffff;
	}
}
.callback-form-item_submit {
	margin-top: 53px;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px $body-color !important;
}
.privacy-policy {
	display: inline;
	color: $dots-color;
	border-bottom: 1px solid rgba(204,78,33,.4);
	//text-decoration: underline;
}
.privacy-policy:hover {
	border-color: rgba(204, 78, 33, .7);
}
.callback-text {
	font-size: 14px;
	line-height: 1.6;
}
.callback-form-item_text {
	margin-top: 34px;
}
label.error {
	display: none !important;
}
.callback-form-input.error {
	border-color: red;
}
.hide-information {
	display: none !important;
}
.tripadvisor-link a {
	width: 80px;
	height: 12px;
	background: url("../images/tripadvisor.png") no-repeat center;
	&::before {
		content: none;
	}
}
.arrow-top {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	display: flex;
	justify-content: flex-end;
	visibility: hidden;
	z-index: 100;
	transition: .3s ease;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.arrow-top-button {
	width: 50px;
	height: 50px;
	background-color: $dots-color;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-90deg);
	transition: transform .3s ease;
	svg {
		transition: .3s ease;
		transform: translateX(-1px);
	}
	&:hover svg {
		transform: translateX(2px);
	}
}
.main-nav_lower-level-item:last-child, .main-nav__item:last-child {
	margin-right: 0;
}
.main-title_history {
	width: 100%;
	display: none;
}
.burger-for-nav {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: $btn-color;
	position: relative;
	cursor: pointer;
	margin-top: 11px;
	display: none;
	z-index: 100;
	&:hover .burger-for-nav__item:nth-child(2) {
		width: 17px;
	}
	&.active + .burger-background {
		transform: scale(70);
	}
}
.burger-for-nav__item {
	width: 21px;
	height: 3px;
	border-radius: 1.5px;
	background-color: #ffffff;
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	transition: .3s ease;
}
.burger-for-nav__item:first-child {
	margin-top: -7px;
}
.burger-for-nav__item:nth-child(3) {
	margin-top: 7px;
}
.callback-btn_mobile {
	display: none;
	margin-right: 0;
}
.burger-background {
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: $btn-color;
	z-index: 98;
	top: 42px;
	left: 30px;
	margin-top: 11px;
	transition: .3s ease;
	display: none;
}
.header-main_index.fixed-position {
	position: fixed;
}
.scroll-no {
	overflow: hidden;
}
.mobile-menu {
	position: fixed;
	z-index: 99;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: calc(100vh - 67px);
	overflow: auto;
	visibility: hidden;
	opacity: 0;
	transition: 0s ease;
	display: none;
	align-items: center;
	flex-direction: column;
	margin-top: 67px;
}
.burger-for-nav.active ~ .mobile-menu {
	visibility: visible;
	opacity: 1;
	transition-delay: .3s;
}
.mobile-nav-list {
	text-align: center;
}
.header-main_index .mobile-logo {
	pointer-events: none;
}
.mobile-logo {
	margin-bottom: 20px;
}
.mobile-nav-list__item {
	margin-bottom: 22px;
	a {
		font-size: 20px;
		color: #ffffff;
		position: relative;
		&:hover {
			color: $btn-color;
		}
	}
}
.mobile-logo-wrapper {
	position: fixed;
	width: 100%;
	background-color: $btn-color;
	display: flex;
	justify-content: center;
	padding-left: 30px;
	padding-right: 30px;
	z-index: 2;
}
.mobile-nav {
	margin-top: 81px;
	padding: 28px 30px;
	padding-top: 28px;
}
.working-hours {
	border-top: 1px solid #2b2c2f;
	width: 100%;
	padding: 42px 0;
	text-align: center;
}
.working-hours__title {
	font-size: 14px;
	color: #a8a19c;
	font-weight: 500;
	margin-bottom: 12px;
}
.working-days {
	color: #ffffff;
	font-size: 14px;
	margin-right: 24px;
	display: inline-block;
	font-weight: 500;
}
.working-time {
	display: inline-block;
	font-size: 16px;
	color: $form-placeholder;
	font-weight: 500;
}
.working-hours__block {
	margin-bottom: 12px;
}
.burger-for-nav .burger-for-nav__item:nth-child(2) {
	visibility: visible;
	opacity: 1;
}
.burger-for-nav.active {
	.burger-for-nav__item:nth-child(1) {
		margin-top: 0;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.burger-for-nav__item:nth-child(3) {
		margin-top: 0;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	.burger-for-nav__item:nth-child(2) {
		visibility: hidden;
		opacity: 0;
	}
}
.header-right-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.header-main_index .working-hours_header {
	display: none;
}
.working-hours_header {
	border-top: none;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 0;
	.working-days {
		color: $btn-color;
		font-weight: 700;
		margin-right: 17px;
	}
}
.header-main_other-page {
	.callback-btn_icon {
		display: none;
	}
	.callback-btn_text {
		width: auto;
	}
	.callback-btn {
		padding: 10px 33px;
	}
	.main-wrapper_index {
		align-items: center;
	}
	.main-wrapper {
		padding: 22px 30px;
	}
}
.main-wrapper_content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.breadcrumbs-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 600px;
	justify-content: center;
}
.main-content {
	background-color: #ffffff;
}
.breadcrumbs-list__item a {
	font-size: 12px;
	color: $main-menu-color;
	border-bottom: 1px solid $breadcrambsBorder;
	transition: .3s ease;
	font-weight: 500;
	padding-bottom: 6px;
	&:hover {
		border-color: $breadcrambsBorderHover;
	}
}
.header-content {
	padding-top: 39px;
	padding-bottom: 34px;
}
.breadcrumbs-list__item:last-child a {
	border-bottom: none;
	color: $breadcrambsNotActive;
	pointer-events: none;
}
.breadcrumbs-list__item {
	margin-bottom: 10px;
}
.breadcrumbs-list__item:not(:last-child) {
	position: relative;
	padding-right: 12px;
	&::before {
		content: '';
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: $dots-color;
		position: absolute;
		top: 35%;
		right: 0;
		transform: translate(50%, -50%);
	}
}
.breadcrumbs-list__item:not(:first-child) {
	padding-left: 12px;
}
.main-h1 {
	text-transform: uppercase;
	font-family: intro;
	font-size: 28px;
	color: $main-menu-color;
	position: relative;
	padding-bottom: 20px;
	&::before {
		content: '';
		width: 119px;
		height: 3px;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
		display: block;
		background: url("../images/h1-bottom.svg") no-repeat;
	}
}
.breadcrumbs {
	margin-bottom: 42px;
}
.category-menu__list {
	display: flex;
	align-items: center;
}
.category-menu__list-item {
	width: 20%;
	padding-left: 20px;
	padding-right: 20px;
}
.category-menu-link {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	&:hover, &.active {
		.category-icon {
			fill: #3a3b41;
		}
		.category-menu-text {
			color: $btn-color;
			font-weight: 500;
		}
	}
}
.category-menu-icon {
	height: 66px;
}
.category-icon {
	transition: .3s ease;
	fill: #dad3c8;
}
.category-menu-text {
	color: $main-menu-color;
	font-size: 16px;
	transition: .3s ease;
	text-align: center;
}
.restaurant-menu-wrapper {
	padding-left: 23%;
	position: relative;
	background-color: $menu-background;
	display: flex;
	min-height: 896px;
	&::before {
		content: "";
		position: absolute;
		left: 23%;
		top: 0;
		height: 1200px;
		width: calc((100vw - 100%) / 2 + 23%);
		background: url("../images/menu-background.jpg") no-repeat center top;
		background-size: cover;
		transform: translateX(-100%);
	}
	&::after {
		content: '';
		width: calc((100vw - 100%) / 2);
		height: 100%;
		position: absolute;
		right: 0;
		transform: translateX(100%);
		background: $menu-background;
	}
}
.category-menu {
	margin-bottom: 40px;
}
.restaurant-subcategory__item a {
	font-size: 14px;
	line-height: 22px;
	color: $main-menu-color;
	position: relative;
	z-index: 1;
	&::before {
		@include link-hover;
		width: calc(100% + 22px);
		left: -11px;
		height: calc(100% + 16px);
		top: -8px;
	}
	&:hover::before, &.active::before {
		@include link-hover_hover
		background-color: $form-placeholder;
	}
	&:hover, &.active {
		color: #fff;
	}
}
.restaurant-menu-category {
	padding: 30px 37px;
	overflow: hidden;
	position: relative;
	width: 28%;
	flex-shrink: 0;
	&::before {
		content: '';
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		box-shadow: 17px 0px 62px 6px rgba(0, 0, 0, 0.75);
		width: 1px;
		transform: translateX(100%);
	}
}
.restaurant-subcategory__item {
	margin-bottom: 22px;
}
.menu-content__item {
	display: flex;
	align-items: flex-start;
	margin-top: 25px;
	transform: translateX(100%);
	opacity: 0;
	transition-property: opacity, transform;
	//transition-property: transform;
	transition-duration: .8s;
	transition-timing-function: ease;
}
.menu-content__item:nth-child(even) {
	transform: translateX(-100%);
}
.slick-active {
	.menu-content__item {
		transform: translateX(0);
		opacity: 1;
		transition-delay: .8s;
	}
}
.menu-header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	position: relative;
	margin-top: 13px;
	margin-bottom: 9px;
	&::before {
		content: "";
		flex-grow: 1;
		height: 1px;
		background: url("../images/pix-separate.png") repeat-x bottom;
		order: 2;
		margin-left: 6px;
		margin-right: 6px;
	}
}
.menu-content__item:nth-child(even) {
	flex-direction: row-reverse;
	.menu-header {
		flex-direction: row-reverse;
	}
	.dish-weight {
		text-align: right;
	}
	.menu-img {
		margin-right: 0;
		margin-left: 28px;
	}
	.dish-description {
		text-align: right;
	}
}
.menu-title {
	font-weight: 600;
	font-size: 21px;
	line-height: 28px;
	color: $form-placeholder;
}
.menu-img {
	width: 146px;
	flex-shrink: 0;
	margin-right: 28px;
	border-radius: 50%;
}
.dish-wrapper {
	flex-grow: 1;
}
.menu-content-title {
	font-weight: 500;
	font-size: 18px;
	color: $menu-subtitle;
	max-width: 300px;
	order: 1;
	span {
		display: block;
		font-size: 12px;
		font-weight: 500;
		color: #979ca2;
	}
}
.dish-price {
	order: 3;
	color: $form-placeholder;
	font-weight: 700;
	font-size: 14px;
	flex-shrink: 0;
}
.dish-weight {
	font-size: 12px;
	color: $form-placeholder;
	font-weight: 500;
	margin-bottom: 6px;
}
.dish-description {
	font-size: 12px;
	font-weight: 500;
	color: $dish-description;
}
.menu-content {
	padding: 42px 60px 24px 60px;
	position: relative;
	overflow: hidden;
	width: 72%;
	&::before {
		content: '';
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		box-shadow: -17px 0px 62px 4px rgba(0, 0, 0, 0.75);
		width: 1px;
		transform: translateX(-100%);
	}
}
.menu-decor {
	top: 0;
	right: 0;
	position: absolute;
	height: 100%;
	transform: translateX(100%);
	display: flex;
	align-items: flex-start;
	z-index: 1;
	.menu-decor__item {
		width: 21px;
		height: 100%;
		background: linear-gradient(to right, #e5e5e5, #ececec);
	}
}
.restaurant-menu {
	overflow: hidden;
}
.slick-arrow-page {
	position: static;
}
.page-slider-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	.slick-prev.slick-arrow-page {
		order: 1;
		margin-right: 39px;
	}
	.page-slider__enumerator {
		order: 2;
		width: 50px;
		justify-content: center;
	}
	.slick-next.slick-arrow-page {
		order: 3;
		margin-left: 39px;
	}
}
.page-slider__current {
	margin-right: 5px;
}
.page-slider__total {
	margin-left: 5px;
}
.page-slider__enumerator {
	font-weight: 500;
	font-size: 18px;
	color: $menu-subtitle;
	display: flex;
	align-items: center;
}
.menu-title-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slider-pagination-button__prev {
	margin-right: 30px;
}
.slider-pagination-button {
	//width: 46px;
	//height: 46px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	polyline {
		transition: .3s ease;
	}
	&:hover polyline {
		opacity: .7;
	}
}
.waitress {
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateX(-62px);
}
.menu-slider-item {
	overflow: hidden;
}
.menu-content__list {
	margin-bottom: 23px;
	transition: 1.5s ease;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.restaurant-menu {
		margin-bottom: -4px;
	}
}
.restaurant-menu .menu-content__list:not(.active) {
	display: none;
}
.slider-pagination {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}
.banquets-wrapper {
	display: flex;
	background-color: $banquets-background;
	padding-right: 0;
	padding-left: 0;
	position: relative;
	//overflow: hidden;
}
.banquets-description {
	width: 43%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 88px;
	background: url("../images/table-banquets.png") no-repeat center calc(100% + 1px);
	background-size: calc(100% - 30px) auto;
	padding-bottom: 326px;
	position: relative;
	overflow: hidden;
	&::before {
		content: '';
		height: 100%;
		position: absolute;
		right: 0px;
		top: 0;
		box-shadow: 17px 0px 62px 6px rgba(0, 0, 0, 0.75);
		width: 1px;
		transform: translateX(100%);
	}
}
.banquets {
	background: $menu-background;
	overflow: hidden;
}
.title-content {
	font-weight: 500;
	font-size: 18px;
	color: $menu-subtitle;
	text-align: center;
	max-width: 350px;
	position: relative;
	padding-bottom: 40px;
	&::before {
		content: "";
		position: absolute;
		width: 69px;
		height: 4px;
		background: $dots-color;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	}
}
.description-text {
	text-align: center;
	font-size: 14px;
	line-height: 1.7;
	color: $label-color;
}
.slider-text_description {
	text-align: center;
	padding: 0 103px;
}
.description-content {
	margin-top: 18px;
	padding: 0 54px 70px 54px;
	position: relative;
	margin-bottom: 41px;
	&::before {
		content: "";
		width: 113px;
		height: 3px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		background: url(../images/h1-bottom.svg) no-repeat;
		background-size: 100% 100%;
	}
}
.banquets-menu {
	width: 57%;
	position: relative;
	overflow: hidden;
	padding: 42px 60px 24px 60px;
	&::before {
		content: '';
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		box-shadow: -17px 0px 62px 4px rgba(0, 0, 0, 0.75);
		width: 1px;
		transform: translateX(-100%);
	}
}
.photo-hall__wrapper {
	display: flex;
	align-items: center;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	justify-content: space-between;
	//&::before {
	//	content: '';
	//	height: 100%;
	//	width: calc((100vw - 100%) / 2);
	//	background: url("../images/background-banquet.jpg") no-repeat left center;
	//	background-size: cover;
	//	position: absolute;
	//	top: 0;
	//	left: 0;
	//	transform: translateX(-100%);
	//}
	//&::after {
	//	content: '';
	//	height: 100%;
	//	width: calc((100vw - 100%) / 2);
	//	background: url("../images/background-banquet.jpg") no-repeat right center;
	//	background-size: cover;
	//	position: absolute;
	//	top: 0;
	//	right: 0;
	//	transform: translateX(100%);
	//}
}
.photo-hall__item {
	width: calc(100% / 3);
	position: relative;
}
.photo-hall {
	background: url("../images/background-banquet.jpg") no-repeat center;
	background-size: cover;
	margin-bottom: 150px;
}
.photo-hall__item-wrapper {
	position: relative;
	width: 100%;
	padding-top: 80%;
}
.photo-hall__img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		font-family: 'object-fit: cover; object-position: center;';
	}
}
.photo-hall__text {
	background: #ffffff;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: translateY(100%);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 14px 6px;
}
.photo-hall__title {
	font-weight: 500;
	font-size: 18px;
	color: $menu-subtitle;
	margin-bottom: 5px;
}
.photo-hall__quantity-place {
	font-weight: 700;
	font-size: 14px;
	color: $form-placeholder;
}
.photo-gallery {
	display: none;
}
.hall-gallery {
	figure {
		position: relative;
	}
	figcaption {
		position: static;
		width: 100%;
		background: #ffffff;
		bottom: 0;
	}
	.mfp-bottom-bar {
		position: static;
		margin-top: 0;
		height: 100%;
		display: flex;
		align-items: center;
		background: #f8f3ed;
		padding: 20px;
	}
	.mfp-bg {
		background: rgba(34, 35, 39, 0.8);
	}
	.mfp-title {
		font-size: 16px;
		color: $dots-color;
		font-weight: 500;
		padding-right: 15px;
	}
	.mfp-counter {
		position: static;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: 16px;
		color: $dots-color;
		margin-left: auto;
	}
	.mfp-img {
		padding-bottom: 0;
	}
	.mfp-arrow {
		width: 46px;
		height: 46px;
		border-radius: 50%;
		background: #f8f3ed;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .3s ease;
		margin-top: 0;
		&::after {
			content: none;
		}
		&::before {
			margin: 0;
			border: none;
			position: static;
			width: 7px;
			height: 12px;
			opacity: 1;
		}
	}
	.mfp-arrow-left {
		margin-left: 60px;
		&::before {
			background: url("../images/slick-arrow-prev.svg") no-repeat center;
		}
	}
	.mfp-arrow-right {
		margin-right: 60px;
		&::before {
			background: url("../images/slick-arrow-next.svg") no-repeat center;
		}
	}
	.mfp-close {
		transition: .3s ease;
		right: 0;
		padding: 0;
		top: 0;
		line-height: normal;
		font-size: 0;
		transform: translate(100%, 100%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		&::before {
			content: '';
			width: 14px;
			height: 3px;
			background: #ffffff;
			border-radius: 3px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%) rotate(-45deg);
		}
		&::after {
			content: '';
			width: 14px;
			height: 3px;
			background: #ffffff;
			border-radius: 3px;
			position: absolute;
			left: 50%;
			transform: translate(-50%) rotate(45deg);
		}
	}
}
.hall-popup-substrate {
	background: #ffffff;
}
.callback-h-wrapper {
	background: $body-color;
	padding-left: 365px;
	position: relative;
	padding-top: 70px;
	padding-bottom: 40px;
	min-height: 285px;
	&::before {
		content: '';
		width: 290px;
		height: 261px;
		background: url("../images/radio.png") no-repeat center;
		background-size: contain;
		display: block;
		position: absolute;
		top: -29px;
		left: 17px;
	}
	& .form-title {
		text-align: left;
		margin-bottom: 12px;
	}
}
.callback-form_h {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	& .callback-form-item:not(.callback-form-item_text) {
		width: calc(100% / 3 - 14px);
	}
	& .callback-form-item_submit {
		margin: 0;
	}
	& .callback-form-item_text {
		margin-top: 0;
	}
}
.callback-h {
	margin-bottom: 54px;
}
.subscription-instagram {
	background: url("../images/background-news.jpg") no-repeat top;
	background-size: cover;
	position: relative;
	padding: 22px 0;
	&::before {
		content: '';
		width: 266px;
		height: 267px;
		display: block;
		background: url("../images/phone.png") no-repeat bottom;
		position: absolute;
		bottom: 0;
		left: 231px;
	}
}
.subscription-instagram__text-wrapper {
	margin-left: 51%;
	max-width: 357px;
}
.subscription-instagram__text {
	color: #ffffff;
	font-weight: 500;
	font-size: 36px;
	line-height: 1.3;
	margin-bottom: 12px;
	img {
		margin-top: 9px;
		margin-left: 16px;
		display: inline;
	}
}
.subscription-instagram__additional-text {
	display: block;
	font-size: 18px;
	color: #edc6d0;
	margin-top: 4px;
}
.news {
	margin-top: 58px;
	border-top: 1px solid $border-color;
	padding-top: 56px;
}
.btn-instagram {
	width: 100%;
	max-width: 268px;
	justify-content: space-between;
	background: transparent;
	border: 1px solid #a27556;
	color: $btn-color;
	font-size: 18px;
	font-weight: 500;
	padding: 12px 38px 12px 31px;
	&:hover {
		background: $btn-color;
		color: #ffffff;
		.fill-btn-arrow {
			fill: #fff;
		}
	}
	& .fill-btn-arrow {
		fill: $btn-color;
	}
}
.wrapper-menu {
	position: relative;
}
.news-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1px;
	margin-bottom: 53px;
}
.news-list__item {
	width: calc(100% / 3);
	border-right: 1px solid $border-news-color;
	border-bottom: 1px solid $border-news-color;
	margin-top: -1px;
	transition: .3s ease;
	position: relative;
}
.news-list__item:nth-child(3n + 1) {
	border-left: 1px solid $border-news-color;
}
.news-list__preview-img {
	width: 100%;
	height: 124px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		font-family: 'object-fit: cover;';
	}
}
.news-list__title {
	font-weight: 500;
	font-size: 21px;
	line-height: 1.4;
	color: $dots-color;
}
.news-list__date,
.news-detail__date-publication {
	font-size: 10px;
	line-height: 2.4;
	color: $label-color;
	margin-bottom: 9px;
	display: block;
}
.news-list__text p {
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 15px;
}
.btn-next {
	background: none;
	padding: 0;
	color: $btn-color;
	border-bottom: 1px solid rgba(182,148,121,.4);
	border-radius: 0;
	font-weight: 500;
	padding-bottom: 7px;
	font-size: 14px;
	.svg-arrow-btn {
		margin-left: 9px;
		transition: .3s ease;
	}
	&:hover {
		background: none;
	}
	.fill-btn-arrow {
		fill: $btn-color;
	}
}
.news-list__content-wrapper {
	padding: 22px 36px 38px;
}
.news-list__text {
	margin-bottom: 25px;
}
.news-list__item:hover {
	box-shadow: 0px 6px 52.38px 1.62px rgba(0, 0, 0, 0.14);
	.svg-arrow-btn {
		margin-left: 25px;
	}
	.btn-next {
		border-bottom-color: rgba(218,201,188,1);
	}
}
.pagination {
	display: flex;
	justify-content: center;
}
.pagination-list {
	display: flex;
	align-items: center;
}
.pagination-prev a, .pagination-next a {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: $news-pagination;
	transition: .3s ease;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s ease;
	&:hover {
		background: $form-placeholder;
	}

}
.pagination-arrow {
	&.no-active a {
		pointer-events: none;
		opacity: .5;
	}
}
.path-arrow-slick, .path-arrow-next {
	transition: .3s ease;
}

.pagination-prev a:hover .path-arrow-slick, .pagination-next a:hover .path-arrow-next{
	stroke: #ffffff;
}
.pagination-list__item:not(.pagination-arrow) a {
	font-weight: 500;
	font-size: 21px;
	line-height: 1.4;
	color: $form-placeholder;
	border-bottom: 1px solid $form-placeholder;
	transition: .3s ease;
	&:hover {
		border-bottom-color: transparent;
	}
}
.pagination-list__item:not(.pagination-arrow) {
	margin: 0 7px;
}
.pagination-list__item.active a {
	border-bottom-color: transparent;
	color: $dots-color;
	cursor: default;
	pointer-events: none;
}
.separate-dots {
	pointer-events: none;
	a {
		border: none;
	}
}
.pagination-prev {
	margin-right: 25px;
}
.pagination-next {
	margin-left: 25px;
}
.pagination {
	margin-bottom: 73px;
}
.pagination-list__item.separate-dots a {
	border-bottom-color: transparent;
}
.news-detail {
	border-top: 1px solid $border-color;
	margin-bottom: 144px;
}
.main-wrapper_news-detail {
	margin-top: -1px;
}
.news-detail__preview-img {
	height: 332px;
	img {
		object-fit: cover;
		object-position: center;
		font-family: 'object-fit: cover; object-position: center;';
		width: 100%;
		height: 100%;
	}
}
.news-detail__cotent {
	display: flex;
	align-items: flex-start;
	width: 100%;
}
.aside-news-detail {
	width: calc(100% / 3);
	flex-shrink: 0;
	padding-top: 33px;
}
.news-detail__title {
	font-size: 36px;
	color: $dots-color;
	font-weight: 600;
	line-height: 1;
}
.breadcrumbs_news-detail {
	margin-bottom: 0;
}
.news-detail__title-block {
	border-bottom: 1px solid $border-color;
	padding-bottom: 20px;
}
.news-detail__date-publication {
	padding: 17px 5px;
}
.book-table {
	max-width: 327px;
	width: 100%;
	background: url("../images/background-book.jpg") no-repeat;
	background-size: cover;
	margin-top: 71px;
	padding: 73px 0 38px;
	text-align: center;
}
.book-table__title {
	font-size: 18px;
	color: $menu-subtitle;
	font-weight: 500;
	text-align: center;
	position: relative;
	padding-bottom: 23px;
	margin-bottom: -29px;
	&::before {
		content: '';
		width: 69px;
		height: 4px;
		background: $dots-color;
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
	}
}
.booking-button {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	border: 1px solid #a4a09e;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	transition: .3s ease;
	position: relative;
	z-index: 1;
	.svg-arrow-btn {
		margin: 0;
	}
	.fill-btn-arrow {
		fill: $btn-color;
	}
	&:hover {
		background: $btn-color;
		.fill-btn-arrow {
			fill: #ffffff;
		}
	}
}
.book-table__img {
	margin-bottom: -42px;
}
.news-detail__text {
	margin-left: 40px;
	padding: 40px 0;
	width: calc(66.67% - 40px);
	p {
		font-size: 14px;
		line-height: 1.7;
		color: $label-color;
		margin-bottom: 25px;
	}
}
.page-slider__item {
	text-align: center;
	display: inline-flex !important;
	justify-content: center;
}
.content-slider {
	position: relative;
	margin-top: 47px;
	margin-bottom: 54px;
	.page-slider-navigation {
		position: absolute;
		left: 50%;
		bottom: 21px;
		transform: translateX(-50%);
		background: rgba(235, 226, 216, .8);
		border-radius: 30px;
	}
	.slick-arrow-page {
		background: transparent;
	}
}
.row-interior {
	display: flex;
	position: relative;
}
.interior-column1 {
	width: 28%;
	height: 100%;
	.interior-list__item {
		width: 100%;
		height: 100%;
	}
}
.interior-column2 {
	width: 72%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	.interior-list__item:nth-child(1) {
		width: 100%;
		height: 42%;
	}
	.interior-list__item:nth-child(2) {
		width: 50%;
		height: 58%;
	}
	.interior-list__item:nth-child(3) {
		width: 50%;
		height: 58%;
	}
}
.row-interior {
	width: 100%;
	padding-top: 59%;
	position: relative;
}
.row-interior__wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
}
.interior-list__item img {
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover; object-position: center;';
	width: 100%;
	height: 100%;
}
.row-interior:nth-child(even) .row-interior__wrapper {
	flex-direction: row-reverse;
}
.interior-list__item {
	position: relative;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(72, 73, 76, 0.7);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 1;
		transition: opacity .3s ease;
	}
	&:hover::before {
		opacity: 0;
	}
	&:hover .zoom {
		opacity: 1;
	}
}
.zoom {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-weight: 500;
	font-size: 18px;
	background: rgba(47, 45, 49, .8);
	padding: 17px 47px 17px 67px;
	border-radius: 30px;
	opacity: 0;
	transition: opacity .3s ease;
	&::before {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		background: url("../images/zoom.svg") no-repeat center;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 30px;
	}
}
.interior-list {
	padding: 0;
}
.interior {
	margin-bottom: 129px;
}
.section-with-line {
	border-top: 1px solid $border-color;
}
.wrapper-with-line {
	margin-top: -1px;
}
.map-block {
	height: 690px;
}
.custom-baloon {
	width: 346px;
	height: 210px;
	background-color: $btn-color;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 22px 28.13px 0.87px rgba(215, 185, 169, 0.74);
	padding: 31px 15px;
	position: relative;
	transform: translate(-50%,-100%);
	margin-top: -19px;
	&::before {
		content: '';
		border: 7px solid transparent;
		border-top: 12px solid $btn-color;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 100%);
	}
	&::after {
		content: '';
		display: block;
		width: 143px;
		height: 211px;
		background: url("../images/baloon-img.png") no-repeat center;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-50%, -50%);
		margin-top: 8px;
		margin-left: 11px;
	}
}
.custom-baloon__address {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.custom-baloon__address-item {
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 15px;
	position: relative;
	padding-left: 16px;
	display: inline-block;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-100%, -50%);
		display: block;
	}
}
.baloon-address::before {
	width: 12px;
	height: 16px;
	background: url("../images/baloon-icon.png") no-repeat;
}
.baloon-phone::before {
	width: 8px;
	height: 19px;
	background: url("../images/baloon-icon1.png") no-repeat;
}
.baloon-mail::before {
	width: 16px;
	height: 14px;
	background: url("../images/baloon-icon2.png") no-repeat;
}
.custom-baloon__address-item:last-child {
	margin-bottom: 0;
}
.custom-baloon__logo {
	margin-bottom: 25px;
}
.contacts-form-wrapper {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 2;
	min-height: 100%;
	pointer-events: none;
}
.contacts {
	position: relative;
}
.callback-form-wrapper_contacts {
	margin: 0;
	background-color: $body-color;
	box-shadow: 0px 22px 28.13px 0.87px rgba(215, 185, 169, 0.74);
	margin-top: -60px;
	max-width: 391px;
	padding: 50px 40px 35px 40px;
	pointer-events: auto;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.form-separate, .callback-form-item {
		margin-bottom: 13px;
	}
	.callback-form-item_submit {
		margin-top: 27px;
	}
	.form-submit {
		font-size: 18px;
	}
}
.callback-form-wrapper_contacts .callback-form-item.callback-form-item_text {
	margin-top: 24px;
}
.callback-textarea {
	resize: none;
	height: 151px;
	padding-top: 15px;
	padding-bottom: 20px;
}
.prev-text {
	font-size: 21px;
	line-height: 1.4;
	color: $form-placeholder;
	max-width: 385px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	padding-bottom: 27px;
	&::before {
		content: "";
		width: 69px;
		height: 4px;
		background-color: $dots-color;
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
.affiche {
	padding-top: 25px;
	position: relative;
	overflow: hidden;
}
.affiche__slider-block {
	display: flex;
	align-items: flex-start;
	position: relative;
	margin-top: 32px;
	min-height: 700px;
	.television-slider {
		z-index: 1;
	}
	.slick-dots {
		display: none !important;
	}
	.about-text-slider::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 53.5%;
		border: 5px solid $form-placeholder;
		right: 74px;
	}
	.about-text-slider {
		margin-right: 74px;
		width: calc(100% - 840px);
		padding-left: 6.5%;
		padding-right: 6.5%;
	}
	.television-slider-wrapper {
		margin-top: 107px;
		margin-left: 74px;
		pointer-events: none;
	}
	.slider-paragraph {
		text-align: center;
		font-size: 14px;
		line-height: 1.6;
		color: $main-menu-color;
		margin-bottom: 11px;
	}
	.fact-slider {
		padding-top: 75px;
		padding-bottom: 75px;
	}
}
.television-img {
	position: relative;
	z-index: 2;
}
.affiche-title {
	font-size: 18px;
	color: $menu-subtitle;
	font-weight: 500;
	text-align: center;
}
.affiche-title_with-line {
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 57px;
	&::before {
		content: "";
		display: block;
		width: 69px;
		height: 4px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $dots-color;
	}
}
.affiche-block {
	margin-top: 38px;
}
.affiche-block .affiche-title {
	margin-bottom: 4px;
}
.affiche-epilogue .slider-paragraph {
	font-weight: 600;
}
.gallery-wrapper {
	display: none;
}
.custom-baloon__address-item a {
	border-bottom: 1px solid rgba(255,255,255,.4);
	transition: .3s ease;
	&:hover {
		border-color: rgba(255,255,255,.7);
	}
}
.affiche-prev-item {
	display: flex !important;
	align-items: flex-start;
	padding-right: 25px;
}
.affiche-prev-item__title {
	font-weight: 500;
	font-size: 18px;
	color: $menu-subtitle;
	margin-bottom: 16px;
	transition: .3s ease;
}
.affiche-prev-item__time {
	font-size: 12px;
	font-weight: 500;
	color: $dish-description;
}
.affiche-prev-item__img {
	width: 128px;
	height: 128px;
	flex-shrink: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		font-family: 'object-fit: cover; object-position: center;';
	}
}
.affiche-prev-slider {
	margin-top: 75px;
	padding-right: 126px;
	padding-left: 126px;
	margin-bottom: 150px;
	.slick-arrow-page {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin: 0;
		z-index: 2;
	}
	.slick-prev {
		left: 34px;
	}
	.slick-next {
		right: 34px;
	}
	.slick-current.slick-center .affiche-prev-item__title {
		color: $dots-color;
	}
}
.affiche-prev-item__text {
	margin-top: 6px;
	margin-left: 21px;
}
.additional-buttons {
	position: absolute;
	top: 36px;
	right: 54%;
	display: flex;
	align-items: flex-start;
	.slick-prev {
		margin-right: 40px;
	}
}
.about-wrapper {
	display: flex;
	align-items: flex-start;
}
.furniture {
	width: 32.7%;
	flex-shrink: 0;
	position: relative;
	min-height: 625px;
}
.about-text {
	width: 31.6%;
	flex-shrink: 0;
	background-color: $btn-color;
	padding: 58px 36px;
}
.about-text__title {
	color: $btn-header-color;
	font-weight: 600;
	font-size: 36px;
	line-height: 1;
	position: relative;
	padding-bottom: 44px;
	margin-bottom: 43px;
	&::before {
		content: '';
		display: block;
		width: 69px;
		height: 4px;
		background: $dots-color;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
.about-text__paragraphs p {
	color: #d3d3d3;
	font-size: 14px;
	line-height: 1.7;
	margin-bottom: 29px;
}
.about-text__paragraphs {
	border-bottom: 1px solid #4e4f54;
	padding-bottom: 3px;
}
.schedule__title {
	font-family: intro, sans-serif;
	color: $btn-header-color;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 27px;
}
.schedule__day, .schedule__time {
	font-weight: 500;
	font-size: 12px;
	color: #d3d3d3;
	opacity: .45;
}
.schedule__time {
	opacity: 1;
}
.schedule__text-item {
	display: flex;
	//align-items: baseline;
	align-items: center;
	margin-bottom: 15px;
}
.schedule__day {
	width: 150px;
	margin-right: 23px;
}
.schedule {
	margin-top: 24px;
}
.furniture-img {
	position: absolute;
	&.circle {
		top: 70px;
		left: 36px;
	}
	&.floor-lamp {
		top: 133px;
		right: 0;
		transform: translateX(37px);
	}
	img {
		width: 100%;
	}
}
.floor-lamp {
	position: absolute;

}
.about-page-slider {
	width: 35.7%;
	padding-bottom: 65px;
	padding-top: 97px;
}
.about-slider__wrapper {
	width: 100%;
	height: 534px;
}
.about-slider__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover; object-position: center;';
}
.about-slider__wrapper {
	.slick-arrow {
		position: absolute;
		bottom: -55px;
		top: auto;
		right: 0;
		left: auto;
	}
	.slick-prev {
		transform: translateX(-100%);
	}

}
.reviews-tablist {
	display: flex;
	align-items: center;
	width: 100%;
	box-shadow: 0px 9px 17.46px 0.54px rgba(215, 185, 169, 0.34);
	position: relative;
}
.reviews-block {
	max-width: 993px;
	width: 100%;
	margin: 0 auto;
	margin-top: 81px;
	box-shadow: 0px 22px 28.13px 0.87px rgba(215, 185, 169, 0.74);
	iframe {
		width: 100% !important;
	}
}
.reviews-tablist__item {
	width: calc(100% / 3);
	height: 78px;
	a {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #ffffff;
		transition: .3s ease;
	}
}
.reviews-tablist__item a[tabindex="-1"] {
	background: $body-color;
}
.reviews-tablist__item a:hover {
	background: #ffffff;
}
.reviews-tablist__item:nth-child(2) {
	position: relative;
	&::before, &::after {
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: $separate-line;
	}
	&::after {
		left: auto;
		right: 0;
	}
}
iframe {
	vertical-align: top;
}
.reviews {
	margin-bottom: 200px;
}
.main-wrapper__404 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 25px;
	margin-bottom: -78px;
}
.text-404 {
	font-size: 21px;
	line-height: 1.3;
	font-weight: 600;
	color: $form-placeholder;
	transform: translateY(-202px);
	max-width: 372px;
	margin-left: 14px;
	text-align: center;
}
.img-404 {
	margin-left: 206px;
}
.btn-404 {
	transform: translateY(-180px);
	font-size: 18px;
	margin-left: 14px;
}
.affiche-background {
	position: absolute;
	top: 0;
	right: 57%;
}
.select2-search {
	display: none;
}
.mobile-category-menu {
	position: relative;
	display: none;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
}
.select2-container--open:not(.select2-container--focus) {
	bottom: 0;
	top: auto !important;
	transform: translateY(100%);
	width: 100%;
}
.select2-selection--single {
	//width: 294px;
	width: 100%;
	background-color: $btn-color !important;
	height: 54px !important;
	border-radius: 27px !important;
}
.select2-selection__rendered {
	font-weight: 700;
	color: #ffffff !important;
	font-size: 16px;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
	padding: 0 40px 0 0 !important;
	width: 100%;
	&[title="Основное меню"]::before {
		background: url("../images/catalog-item1.svg") no-repeat center;
		background-size: 100% auto;
	}
	&[title="Фермерское меню"]::before {
		background: url("../images/catalog-item2.svg") no-repeat center;
		background-size: 100% auto;
	}
	&[title="Банкеты"]::before {
		background: url("../images/catalog-item3.svg") no-repeat center;
		background-size: 100% auto;
	}
	&[title="Бизнес ланчи"]::before {
		background: url("../images/catalog-item4.svg") no-repeat center;
		background-size: 100% auto;
	}
	&[title="Детское меню"]::before {
		background: url("../images/catalog-item5.svg") no-repeat center;
		background-size: 100% auto;
	}
	&::before {
		content: '';
		width: 30px;
		height: 100%;
		margin-right: 15px;
	}
}
.select2-container--default {
	width: 294px !important;
}
.select2-container--open:not(.select2-container--below):not(.select2-container--above) {
	width: 258px !important;
	left: 50% !important;
	transform: translate(-50%, 100%) !important;
	margin-bottom: -20px;
}
.select2-selection__arrow b {
	display: none;
	position: static !important;
}
.select2-selection__arrow {
	width: 7px !important;
	height: 12px !important;
	background: url("../images/arrow-select.svg") no-repeat center;
	display: block;
	transform: translate(0, -50%) rotate(-90deg);
	right: 20px !important;
	top: 50% !important;
}
.select2-selection--single {
	display: flex !important;
	align-items: center;
	justify-content: center;
	border: none !important;
}
.select2-container--default.select2-container--open .select2-selection__arrow {
	transform: translate(0, -50%) rotate(90deg);
}
.select2-dropdown {
	border-radius: 15px !important;
	overflow: hidden;
	position: static !important;
	width: 100% !important;
	border: none !important;
	background: #ece3da;
}
.select2-container--below + .select2-container {
	width: calc(100% - 36px) !important;
	left: 50% !important;
	transform: translate(-50%, 100%);
	margin-bottom: -12px !important;
}
.select2-results__option {
	text-align: center;
	font-size: 16px;
	line-height: 1.875;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: transparent;
	color: $main-menu-color;
	font-weight: 600;
}
.select2-results {
	padding-top: 35px;
	padding-bottom: 35px;
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: none;
}
.about-slider__item {
	height: 100%;
}
.about-slider__wrapper {
	.slick-list, .slick-track, .slick-slide > div {
		height: 100%;
	}
}
.btn-order .callback-arrow-right {
	fill: #ffffff;
}
.btn-order svg {
	margin-left: 15px;
}
@import "animation";
@import "media";
