mixin some-history
	.main-wrapper.main-wrapper_for-labp
		.lamp-switch
			picture
				source(srcset="images/lamp.webp" type="image/webp")
				img(src="images/lamp.png" alt="Светильник")
	.history-background
		.background-history-wrapper
			.background-history-wrapper__transform
	.history-slider-image
		.history-slider-image__item
			picture
				source(srcset="images/history-slide-img1.webp" type="image/webp")
				img(src="images/history-slide-img1.png" alt="Камера")
		.history-slider-image__item
			picture
				source(srcset="images/history-slide-img1.webp" type="image/webp")
				img(src="images/history-slide-img1.png" alt="Камера")
		.history-slider-image__item
			picture
				source(srcset="images/history-slide-img1.webp" type="image/webp")
				img(src="images/history-slide-img1.png" alt="Камера")
	.main-wrapper
		.some-history-wrapper
			.some-history__col-1
				.some-history-slider.js-history-slider
					.some-history-slider__item
						h3.slider-text
							| Знаменитый фотоаппарат
							| «Любитель-166»
						.some-history-text
							p.slider-paragraph
								| Советский среднеформатный двухобъективный зеркальный
								| фотоаппарат упрощённого типа. С 1976 по 1981 год было выпущено 69 120 штук.
								| Выпуск прекращён из-за нареканий в работе механизма перемотки плёнки.
					.some-history-slider__item
						h3.slider-text
							| Знаменитый фотоаппарат
							| «Любитель-166»
						.some-history-text
							p.slider-paragraph
								| Советский среднеформатный двухобъективный зеркальный
								| фотоаппарат упрощённого типа. С 1976 по 1981 год было выпущено 69 120 штук.
								| Выпуск прекращён из-за нареканий в работе механизма перемотки плёнки.
					.some-history-slider__item
						h3.slider-text
							| Знаменитый фотоаппарат
							| «Любитель-166»
						.some-history-text
							p.slider-paragraph
								| Советский среднеформатный двухобъективный зеркальный
								| фотоаппарат упрощённого типа. С 1976 по 1981 год было выпущено 69 120 штук.
								| Выпуск прекращён из-за нареканий в работе механизма перемотки плёнки.
			.some-history__col-2
				h2.some-history-title
					| немного истории
mixin main-some-history(class_modification)
	if class_modification === undefined
		section(class='some-history')
			+some-history
	else
		section(class='some-history' + class_modification)
			+some-history
