.main-img
	picture.main-img__wrapper.main-img__wrapper-old-interior
		source(srcset="images/interyer_1300_old.webp" type="image/webp" media="(max-width: 1300px)")
		source(srcset="images/interyer_1300_old.jpg" media="(max-width: 1300px)")
		source(srcset="images/Interyer_1920_old.webp" type="image/webp")
		img(src="images/Interyer_1920_old.jpg" alt="старый интерьер")
	picture.main-img__wrapper.main-img__wrapper-new-interior
		source(srcset="images/interyer_1300_new.webp" type="image/webp" media="(max-width: 1300px)")
		source(srcset="images/interyer_1300_new.jpg" media="(max-width: 1300px)")
		source(srcset="images/Interyer_1920_new.webp" type="image/webp")
		img(src="images/Interyer_1920_new.jpg" alt="новый интерьер")
	picture.main-img__wrapper.main-img__wrapper-chair-old
		source(srcset="images/interyer_1300_old_chair.webp" type="image/webp" media="(max-width: 1300px)")
		source(srcset="images/interyer_1300_old_chair.png" media="(max-width: 1300px)")
		source(srcset="images/Interyer_1920_old_chair.webp" type="image/webp")
		img(src="images/Interyer_1920_old_chair.png" alt="гостиная старый вариант")
	picture.main-img__wrapper.main-img__wrapper-chair-new
		source(srcset="images/interyer_1300_new_chair.webp" type="image/webp" media="(max-width: 1300px)")
		source(srcset="images/interyer_1300_new_chair.png" media="(max-width: 1300px)")
		source(srcset="images/Interyer_1920_new_chair.webp" type="image/webp")
		img(src="images/Interyer_1920_new_chair.png" alt="гостиная новый вариант")
